* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container{
    margin: 0 auto;
    text-align: center;
}

.text-header{
    background-color: rgba(253, 53, 53, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.text-header i{ 
    cursor: pointer;
    padding: 0 10px;
    font-size: 20px;
    margin: 0 20px;
}

.text-header h1{
    width: 300px;
    text-align: center;
}

.list-calendar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-calendar li {
    cursor: pointer;
    list-style: none;
    font-size: 18px;
    margin: 10px;
}

.month-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li:hover{
    color:rgb(112, 112, 112);
}

li.holiday {
    color: red;
}

.day{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black ;
    height: 100px;
    width: 150px;
}

.remove{
   display: none;
}
